Repository linz/emergency-management-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, jupyter-clean, pathchk, shellcheck_other, shfmt_other, statix, nbqa-mypy

alejandra:
  name: alejandra
  entry: alejandra
  language: system
  stages:
  - commit

jupyter-clean:
  name: jupyter-clean
  entry: jupyter
  args:
  - nbconvert
  - --clear-output
  - --ClearMetadataPreprocessor.enabled=True
  language: system
  stages:
  - commit

pathchk:
  name: pathchk
  entry: pathchk
  args:
  - --portability
  language: system
  stages:
  - commit

shellcheck_other:
  name: shellcheck other
  entry: shellcheck
  language: system
  stages:
  - commit

shfmt_other:
  name: Format other shell scripts
  entry: shfmt
  args:
  - --case-indent
  - --indent=4
  - --list
  - --space-redirects
  - --write
  language: system
  stages:
  - commit

statix:
  name: statix
  entry: statix
  args:
  - check
  pass_filenames: false
  language: system
  stages:
  - commit

nbqa-mypy:
  name: nbqa-mypy
  description: Run 'mypy' on Jupyter notebooks
  entry: nbqa
  args:
  - mypy
  require_serial: true
  language: system
  stages:
  - commit

feat: Cache Conda downloads
  .github/workflows/test.yml
Due: none

DELETEME
  .github/workflows/test.yml
Due: none

fix: Split cache per Python version
  .github/workflows/test.yml
Due: none

feat: Watch more files relevant to Nix shells
  .envrc
  flooding/sentinel1_water_extraction/.envrc
  flooding/sentinel2_water_extraction/.envrc
  machine-readable-to-human-readable-date-time/.envrc
Due: shellcheck_other, shfmt_other

feat: Implement stable path to Python interpreter in direnv
  .envrc
Due: shellcheck_other, shfmt_other

feat: Link to interpreter rather than full package
  .gitignore
  _config.yml
  shell.nix
Due: alejandra, statix

feat: Install setuptools
  shell.nix
Due: alejandra, statix

test: Run only against oldest and latest supported Python
  .github/workflows/test.yml
Due: none

build: Bump nixpkgs
  nix/sources.json
Due: none

feat: Pin actions to hashes
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/test.yml
Due: none

build: Support Python 3.12
  .github/workflows/test.yml
  flooding/sentinel1_water_extraction/README.md
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

refactor: Pin nixpkgs without Niv
  .envrc
  .pre-commit-config.yaml
  flooding/sentinel1_water_extraction/shell.nix
  flooding/sentinel2_water_extraction/shell.nix
  machine-readable-to-human-readable-date-time/shell.nix
  nix/sources.json
  nix/sources.nix
  nixpkgs.nix
  shell.nix
Due: alejandra, shellcheck_other, shfmt_other, statix

refactor: Replace deprecated command
  .envrc
  flooding/sentinel1_water_extraction/.envrc
  flooding/sentinel2_water_extraction/.envrc
  machine-readable-to-human-readable-date-time/.envrc
Due: shellcheck_other, shfmt_other

build: Bump nixpkgs
  .pre-commit-config.yaml
  flooding/sentinel1_water_extraction/poetryPackages.nix
  flooding/sentinel1_water_extraction/shell.nix
  flooding/sentinel2_water_extraction/poetryPackages.nix
  flooding/sentinel2_water_extraction/shell.nix
  machine-readable-to-human-readable-date-time/test/human-readable-local-date-time.spec.mjs
  machine-readable-to-human-readable-date-time/test/index.html
  machine-readable-to-human-readable-date-time/test/mocha.css
  machine-readable-to-human-readable-date-time/test/mocha.js
  nixpkgs.nix
  poetry2nix.nix
  shell.nix
Due: alejandra, statix

Add prepare_10m_sentinel_imagery.py script
  sentinel2-image-processing/prepare_10m_sentinel_imagery.py
Due: none

feat: add python Sentinel 2 processing script
  sentinel2-image-processing/nz-150k-tile-index.cpg
  sentinel2-image-processing/nz-150k-tile-index.dbf
  sentinel2-image-processing/nz-150k-tile-index.prj
  sentinel2-image-processing/nz-150k-tile-index.shp
  sentinel2-image-processing/nz-150k-tile-index.shx
  sentinel2-image-processing/prepare_10m_sentinel_imagery.py
Due: none

feat: add sentinel 2 script
  sentinel2-processing/nz-150k-tile-index.cpg
  sentinel2-processing/nz-150k-tile-index.dbf
  sentinel2-processing/nz-150k-tile-index.prj
  sentinel2-processing/nz-150k-tile-index.shp
  sentinel2-processing/nz-150k-tile-index.shx
  sentinel2-processing/prepare_10m_sentinel_imagery.py
Due: none

build: Drop Python 3.8 support
  .github/workflows/test.yml
  flooding/sentinel1_water_extraction/README.md
  flooding/sentinel1_water_extraction/poetry.lock
  flooding/sentinel1_water_extraction/pyproject.toml
  flooding/sentinel2_water_extraction/README.md
  flooding/sentinel2_water_extraction/poetry.lock
  flooding/sentinel2_water_extraction/pyproject.toml
Due: nbqa-mypy

build: Don't use Conda
  .github/workflows/test.yml
Due: none

build: Install Poetry with Pip
  .github/workflows/test.yml
Due: none

feat: Join up all Python package upgrades
  .github/dependabot.yml
Due: none

build: Bump Nix dependencies
  nixpkgs.nix
  poetry2nix.nix
Due: alejandra, statix

refactor: Inline parameters
  flooding/sentinel2_water_extraction/sentinel2_water_extraction.ipynb
Due: jupyter-clean, nbqa-mypy

fix: Remove invalid nodata configuration
  flooding/sentinel2_water_extraction/sentinel2_water_extraction.ipynb
Due: jupyter-clean, nbqa-mypy

Path conditions:
  alejandra: any of: \.nix$
  jupyter-clean: any of: \.ipynb$
  pathchk: any file but: ^([a-zA-Z0-9._][a-zA-Z0-9._-]+)(/[a-zA-Z0-9._][a-zA-Z0-9._-]+)*$
  shellcheck_other: any of: ^\.envrc$
  shfmt_other: any of: ^\.envrc$
  statix: any of: \.nix$
  nbqa-mypy: any of: \.ipynb$, \.(md|markdown|mdown)$
