Repository linz/emergency-management-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, jupyter-clean, pathchk, shellcheck_other, shfmt_other, statix, nbqa-mypy

alejandra:
  name: alejandra
  entry: alejandra
  language: system
  stages:
  - commit

jupyter-clean:
  name: jupyter-clean
  entry: jupyter
  args:
  - nbconvert
  - --clear-output
  - --ClearMetadataPreprocessor.enabled=True
  language: system
  stages:
  - commit

pathchk:
  name: pathchk
  entry: pathchk
  args:
  - --portability
  language: system
  stages:
  - commit

shellcheck_other:
  name: shellcheck other
  entry: shellcheck
  language: system
  stages:
  - commit

shfmt_other:
  name: Format other shell scripts
  entry: shfmt
  args:
  - --case-indent
  - --indent=4
  - --list
  - --space-redirects
  - --write
  language: system
  stages:
  - commit

statix:
  name: statix
  entry: statix
  args:
  - check
  pass_filenames: false
  language: system
  stages:
  - commit

nbqa-mypy:
  name: nbqa-mypy
  description: Run 'mypy' on Jupyter notebooks
  entry: nbqa
  args:
  - mypy
  require_serial: true
  language: system
  stages:
  - commit

fix: Avoid installing multiple Poetry versions
  .github/workflows/test.yml
Due: none

docs: Move subproject dev docs to subproject
  CODING.md
  flooding/sentinel2_water_extraction/CODING.md
Due: nbqa-mypy

test: Reintroduce Python 3.10 on Ubuntu support
  .github/workflows/test.yml
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

feat: Set up web page for tools index
  .github/workflows/jekyll-gh-pages.yml
  .gitignore
  404.html
  CODING.md
  _config.yml
  index.markdown
  shell.nix
Due: alejandra, statix, nbqa-mypy

refactor: Rename job for clarity
  .github/workflows/test.yml
Due: none

chore: Ignore mypy cache directory
  .gitignore
Due: none

docs: Serve `github-pages build` result directly
  CODING.md
Due: nbqa-mypy

feat: Machine-readable to human-readable date/time converter
  .github/workflows/test.yml
  _config.yml
  index.markdown
  machine-readable-to-human-readable-date-time/.envrc
  machine-readable-to-human-readable-date-time/human-readable-local-date-time.mjs
  machine-readable-to-human-readable-date-time/index.md
  machine-readable-to-human-readable-date-time/shell.nix
  machine-readable-to-human-readable-date-time/test/human-readable-local-date-time.spec.mjs
  machine-readable-to-human-readable-date-time/test/index.html
  machine-readable-to-human-readable-date-time/test/mocha.css
  machine-readable-to-human-readable-date-time/test/mocha.js
Due: alejandra, statix, nbqa-mypy

docs: Link website from readme
  README.md
Due: nbqa-mypy

docs: Split prerequisites from test targets
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

build: Apply working directory to entire jobs
  .github/workflows/test.yml
Due: none

build: Unlock GDAL version
  flooding/sentinel2_water_extraction/poetry.lock
  flooding/sentinel2_water_extraction/pyproject.toml
Due: none

fix: Cancel only deploy jobs on master
  .github/workflows/jekyll-gh-pages.yml
Due: none

chore: Remove Conda debugging steps
  .github/workflows/test.yml
Due: none

chore: Remove Geopandas debugging steps
  .github/workflows/test.yml
Due: none

build: Reintroduce pip cache
  .github/workflows/test.yml
Due: none

build: Remove Windows Python 3.10 workaround
  .github/workflows/test.yml
Due: none

build: Python 3.11
  .github/workflows/test.yml
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

refactor: Use local nbQA instead of repo
  .pre-commit-config.yaml
  shell.nix
Due: alejandra, statix

refactor: Use local `check-jsonschema` instead of repo
  .pre-commit-config.yaml
  CODING.md
  shell.nix
Due: alejandra, statix, nbqa-mypy

refactor: Sort pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix: macOS GDAL version fetching
  .github/workflows/test.yml
Due: none

Path conditions:
  alejandra: any of: \.nix$
  jupyter-clean: any of: \.ipynb$
  pathchk: any file but: ^([a-zA-Z0-9._][a-zA-Z0-9._-]+)(/[a-zA-Z0-9._][a-zA-Z0-9._-]+)*$
  shellcheck_other: any of: ^\.envrc$
  shfmt_other: any of: ^\.envrc$
  statix: any of: \.nix$
  nbqa-mypy: any of: \.ipynb$, \.(md|markdown|mdown)$
