Repository linz/emergency-management-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, jupyter-clean, pathchk, shellcheck_other, shfmt_other, statix, nbqa-mypy

alejandra:
  name: alejandra
  entry: alejandra
  language: system
  stages:
  - commit

jupyter-clean:
  name: jupyter-clean
  entry: jupyter
  args:
  - nbconvert
  - --clear-output
  - --ClearMetadataPreprocessor.enabled=True
  language: system
  stages:
  - commit

pathchk:
  name: pathchk
  entry: pathchk
  args:
  - --portability
  language: system
  stages:
  - commit

shellcheck_other:
  name: shellcheck other
  entry: shellcheck
  language: system
  stages:
  - commit

shfmt_other:
  name: Format other shell scripts
  entry: shfmt
  args:
  - --case-indent
  - --indent=4
  - --list
  - --space-redirects
  - --write
  language: system
  stages:
  - commit

statix:
  name: statix
  entry: statix
  args:
  - check
  pass_filenames: false
  language: system
  stages:
  - commit

nbqa-mypy:
  name: nbqa-mypy
  description: Run 'mypy' on Jupyter notebooks
  entry: nbqa
  args:
  - mypy
  require_serial: true
  language: system
  stages:
  - commit

refactor: Inline parameters
  flooding/sentinel2_water_extraction/sentinel2_water_extraction.ipynb
Due: jupyter-clean, nbqa-mypy

build: Use latest Poetry
  .github/workflows/test.yml
Due: none

build: Use more recent Poetry
  .github/workflows/test.yml
Due: none

DELETEME
  .github/workflows/test.yml
Due: none

build: Run jobs on Ubuntu 24.04
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/test.yml
Due: none

chore: Remove pre-Python 3.9 code
  flooding/sentinel2_water_extraction/sentinel2_water_extraction.ipynb
Due: jupyter-clean, nbqa-mypy

chore: Remove unnecessary mypy overrides
  pyproject.toml
Due: none

build: Install Poetry with pipx
  .github/workflows/test.yml
Due: none

docs: Update the test matrix in the readme
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

docs: Mention that Sentinel-1 notebook is not yet ready
  README.md
  flooding/sentinel1_water_extraction/README.md
Due: nbqa-mypy

docs: Highlight the difference between Sentinel-1 and Sentinel-2
  README.md
Due: nbqa-mypy

build: Bump Python packages
  flooding/sentinel1_water_extraction/poetry.lock
  flooding/sentinel2_water_extraction/README.md
  flooding/sentinel2_water_extraction/poetry.lock
  flooding/sentinel2_water_extraction/poetryPackages.nix
Due: alejandra, statix, nbqa-mypy

build: Support Python 3.12
  .github/workflows/test.yml
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

build: Bump nixpkgs to recent unstable
  index.markdown
  nixpkgs.nix
Due: alejandra, statix, nbqa-mypy

build: Bump poetry2nix to latest release
  poetry2nix.nix
Due: alejandra, statix

build: Bump poetry2nix
  poetry2nix.nix
Due: alejandra, statix

chore(deps): Bump nixpkgs
  nixpkgs.nix
  python.nix
Due: alejandra, statix

chore(deps): Bump gdal to 3.9.0
  flooding/sentinel1_water_extraction/poetry.lock
  flooding/sentinel2_water_extraction/poetry.lock
  poetry2nix.nix
Due: alejandra, statix

feat: Use official Nix formatter
  .pre-commit-config.yaml
  flooding/sentinel1_water_extraction/poetryPackages.nix
  flooding/sentinel1_water_extraction/shell.nix
  flooding/sentinel2_water_extraction/poetryPackages.nix
  flooding/sentinel2_water_extraction/shell.nix
  machine-readable-to-human-readable-date-time/shell.nix
  nixpkgs.nix
  poetry2nix.nix
  python.nix
  shell.nix
Due: alejandra, statix

chore(deps): Bump nixpkgs
  .github/workflows/test.yml
  .pre-commit-config.yaml
  flooding/sentinel1_water_extraction/poetry.lock
  flooding/sentinel2_water_extraction/README.md
  flooding/sentinel2_water_extraction/poetry.lock
  flooding/sentinel2_water_extraction/poetryPackages.nix
  flooding/sentinel2_water_extraction/sentinel2_water_extraction.ipynb
  index.markdown
  nixpkgs.nix
  poetry2nix.nix
  pyproject.toml
  shell.nix
Due: alejandra, jupyter-clean, statix, nbqa-mypy

chore: Remove abandoned Sentinel-1 notebook
  .github/dependabot.yml
  .github/workflows/test.yml
  README.md
  flooding/sentinel1_water_extraction/.envrc
  flooding/sentinel1_water_extraction/README.md
  flooding/sentinel1_water_extraction/out/.gitignore
  flooding/sentinel1_water_extraction/poetry.lock
  flooding/sentinel1_water_extraction/poetryPackages.nix
  flooding/sentinel1_water_extraction/pyproject.toml
  flooding/sentinel1_water_extraction/sentinel1_water_extraction.ipynb
  flooding/sentinel1_water_extraction/shell.nix
  flooding/sentinel2_water_extraction/images/header.png
  flooding/sentinel2_water_extraction/images/python.png
  flooding/sentinel2_water_extraction/images/user_var.png
  index.markdown
  shell.nix
Due: alejandra, jupyter-clean, statix, nbqa-mypy

Path conditions:
  alejandra: any of: \.nix$
  jupyter-clean: any of: \.ipynb$
  pathchk: any file but: ^([a-zA-Z0-9._][a-zA-Z0-9._-]+)(/[a-zA-Z0-9._][a-zA-Z0-9._-]+)*$
  shellcheck_other: any of: ^\.envrc$
  shfmt_other: any of: ^\.envrc$
  statix: any of: \.nix$
  nbqa-mypy: any of: \.ipynb$, \.(md|markdown|mdown)$
