Repository linz/emergency-management-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, jupyter-clean, pathchk, shellcheck_other, shfmt_other, statix, nbqa-mypy

alejandra:
  name: alejandra
  entry: alejandra
  language: system
  stages:
  - commit

jupyter-clean:
  name: jupyter-clean
  entry: jupyter
  args:
  - nbconvert
  - --clear-output
  - --ClearMetadataPreprocessor.enabled=True
  language: system
  stages:
  - commit

pathchk:
  name: pathchk
  entry: pathchk
  args:
  - --portability
  language: system
  stages:
  - commit

shellcheck_other:
  name: shellcheck other
  entry: shellcheck
  language: system
  stages:
  - commit

shfmt_other:
  name: Format other shell scripts
  entry: shfmt
  args:
  - --case-indent
  - --indent=4
  - --list
  - --space-redirects
  - --write
  language: system
  stages:
  - commit

statix:
  name: statix
  entry: statix
  args:
  - check
  pass_filenames: false
  language: system
  stages:
  - commit

nbqa-mypy:
  name: nbqa-mypy
  description: Run 'mypy' on Jupyter notebooks
  entry: nbqa
  args:
  - mypy
  require_serial: true
  language: system
  stages:
  - commit

docs: Format list properly
  flooding/sentinel2_water_extraction/sentinel2_water_extraction.ipynb
Due: jupyter-clean, nbqa-mypy

refactor: Replace formula image with actual formula
  flooding/sentinel2_water_extraction/images/mndwi.png
  flooding/sentinel2_water_extraction/sentinel2_water_extraction.ipynb
Due: jupyter-clean, nbqa-mypy

refactor: Move non-user-configurable constant to top level
  flooding/sentinel2_water_extraction/sentinel2_water_extraction.ipynb
Due: jupyter-clean, nbqa-mypy

fix: macOS GDAL version fetching
  .github/workflows/test.yml
Due: none

docs: move cd command to the right step
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

build: Use default Python version for Nix
  flooding/sentinel2_water_extraction/poetryPackages.nix
Due: alejandra, statix

refactor: Hyphenate package name
  flooding/sentinel2_water_extraction/pyproject.toml
Due: none

feat: Check for dead Nix code
  .pre-commit-config.yaml
  shell.nix
Due: alejandra, statix

fix: Disambiguate job names
  .github/workflows/test.yml
Due: none

feat: Enable bumping nixpkgs to any head
  bump-nixpkgs.bash
Due: none

build: Bump Python packages
  flooding/sentinel2_water_extraction/poetry.lock
  flooding/sentinel2_water_extraction/poetryPackages.nix
Due: alejandra, statix

fix: Work around cachix Nix 2.14 incompatibility
  .github/workflows/jekyll-gh-pages.yml
  .github/workflows/test.yml
Due: none

chore: Get debug output from Poetry install on Windows
  .github/workflows/test.yml
Due: none

fix: Downgrade Poetry below 1.4
  .github/workflows/test.yml
Due: none

docs: add link to Jupyter notebook docs
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

feat: Use Niv to lock nixpkgs
  .pre-commit-config.yaml
  CODING.md
  _config.yml
  bump-nixpkgs.bash
  flooding/sentinel2_water_extraction/shell.nix
  machine-readable-to-human-readable-date-time/shell.nix
  nix/sources.json
  nix/sources.nix
  nixpkgs.json
  shell.nix
Due: alejandra, statix, nbqa-mypy

refactor: Use more popular action to set up Conda
  .github/workflows/test.yml
Due: none

build: Bump nixpkgs
  flooding/sentinel2_water_extraction/poetryPackages.nix
  nix/sources.json
Due: alejandra, statix

build: Bump nbqa
  shell.nix
Due: alejandra, statix

docs: Fix Git clone command
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

docs: Simplify download instructions
  flooding/sentinel2_water_extraction/README.md
  flooding/sentinel2_water_extraction/images/download.png
Due: nbqa-mypy

docs: Reference how to install Poetry
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

docs: Add punctuation
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

docs: Avoid "Title Case" for unimportant nouns
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

Path conditions:
  alejandra: any of: \.nix$
  jupyter-clean: any of: \.ipynb$
  pathchk: any file but: ^([a-zA-Z0-9._][a-zA-Z0-9._-]+)(/[a-zA-Z0-9._][a-zA-Z0-9._-]+)*$
  shellcheck_other: any of: ^\.envrc$
  shfmt_other: any of: ^\.envrc$
  statix: any of: \.nix$
  nbqa-mypy: any of: \.ipynb$, \.(md|markdown|mdown)$
