Repository linz/emergency-management-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, jupyter-clean, pathchk, shellcheck_other, shfmt_other, statix, nbqa-mypy

.pre-commit-config.yaml:

# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
  - repo: local
    hooks:
      - id: alejandra
        name: alejandra
        entry: alejandra
        files: \.nix$
        language: system
        stages: [commit]

      - id: gitlint
        name: gitlint
        entry: gitlint
        args: [--staged, --msg-filename]
        language: system
        stages: [commit-msg]

      - id: jupyter-clean
        name: jupyter-clean
        entry: jupyter
        args:
          [nbconvert, --clear-output, --ClearMetadataPreprocessor.enabled=True]
        types: [jupyter]
        language: system
        stages: [commit]

      - id: pathchk
        name: pathchk
        entry: pathchk
        args: [--portability]
        types: [file]
        exclude: ^([a-zA-Z0-9._][a-zA-Z0-9._-]+)(/[a-zA-Z0-9._][a-zA-Z0-9._-]+)*$ # https://lists.gnu.org/archive/html/coreutils/2023-01/msg00006.html
        language: system
        stages: [commit]

      - id: prettier
        name: prettier
        entry: prettier
        args: [--ignore-unknown, --list-different, --write]
        types: [text]
        language: system
        stages: [commit]

      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        types: [shell]
        language: system
        stages: [commit]

      # TODO: Kill if https://github.com/pre-commit/identify/issues/350 is fixed
      - id: shellcheck_other
        name: shellcheck other
        entry: shellcheck
        files: ^\.envrc$
        language: system
        stages: [commit]

      - id: shfmt
        name: Format shell scripts
        entry: shfmt
        args: [--case-indent, --indent=4, --list, --space-redirects, --write]
        types: [shell]
        language: system
        stages: [commit]

      # TODO: Kill if https://github.com/pre-commit/identify/issues/350 is fixed
      - id: shfmt_other
        name: Format other shell scripts
        entry: shfmt
        args: [--case-indent, --indent=4, --list, --space-redirects, --write]
        files: ^\.envrc$
        language: system
        stages: [commit]

      - id: statix
        name: statix
        entry: statix
        args: [check]
        files: \.nix$
        pass_filenames: false
        language: system
        stages: [commit]

      - id: nbqa-mypy
        name: nbqa-mypy
        description: Run 'mypy' on Jupyter notebooks
        entry: nbqa
        args: [mypy]
        require_serial: true
        types_or: [jupyter, markdown]
        language: system
        stages: [commit]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 73e47d5a94b8724ce0b36e7bf29103a6f45dc505 # frozen: 1.6.1
    hooks:
      - id: nbqa-black
      - id: nbqa-isort
      - id: nbqa-pydocstyle

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 00337e660434e648317dbaf2bbaca4966953da22 # frozen: 0.20.0
    hooks:
      - id: check-github-workflows

  - repo: meta
    hooks:
      - id: check-useless-excludes

docs: Simplify starting instructions
  flooding/sentinel2_water_extraction/README.md
  flooding/sentinel2_water_extraction/images/jupyter.png
Due: nbqa-mypy

docs: Simplify setup instructions
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

docs: Explicitly mention having to follow instructions in the notebook
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

docs: Add punctuation
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

docs: Reference how to install Poetry
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

docs: Fix Git clone command
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

docs: Avoid "Title Case" for unimportant nouns
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

docs: Simplify download instructions
  flooding/sentinel2_water_extraction/README.md
  flooding/sentinel2_water_extraction/images/download.png
Due: nbqa-mypy

chore: Unblock shapely
  flooding/sentinel2_water_extraction/poetry.lock
  flooding/sentinel2_water_extraction/pyproject.toml
Due: none

feat: Sentinel-1 water extraction template
  .github/dependabot.yml
  .github/workflows/test.yml
  README.md
  flooding/CODING.md
  flooding/sentinel1_water_extraction/.envrc
  flooding/sentinel1_water_extraction/README.md
  flooding/sentinel1_water_extraction/out/.gitignore
  flooding/sentinel1_water_extraction/poetry.lock
  flooding/sentinel1_water_extraction/poetryPackages.nix
  flooding/sentinel1_water_extraction/pyproject.toml
  flooding/sentinel1_water_extraction/sentinel1_water_extraction.ipynb
  flooding/sentinel1_water_extraction/shell.nix
  flooding/sentinel2_water_extraction/poetryPackages.nix
  index.markdown
  python.nix
  shell.nix
Due: alejandra, jupyter-clean, statix, nbqa-mypy

feat: Simplify direnv
  .envrc
  CODING.md
  flooding/sentinel1_water_extraction/.envrc
  flooding/sentinel2_water_extraction/.envrc
  machine-readable-to-human-readable-date-time/.envrc
Due: shellcheck_other, shfmt_other, nbqa-mypy

build: Bump nixpkgs
  nix/sources.json
Due: none

docs: Refine install instructions
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

docs: Fix filename
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

fix: Add missing build inputs for jupyterlab 4
  flooding/sentinel1_water_extraction/poetryPackages.nix
Due: alejandra, statix

build: Bump nixpkgs
  flooding/sentinel1_water_extraction/poetryPackages.nix
  nix/sources.json
Due: alejandra, statix

chore: Remove reference to unused package
  pyproject.toml
Due: none

build: Use nbQA from nixpkgs
  shell.nix
Due: alejandra, statix

docs: Refine todos
  flooding/sentinel1_water_extraction/poetryPackages.nix
Due: alejandra, statix

build: Use latest Poetry
  .github/workflows/test.yml
Due: none

feat: Watch more files relevant to Nix shells
  .envrc
  flooding/sentinel1_water_extraction/.envrc
  flooding/sentinel2_water_extraction/.envrc
  machine-readable-to-human-readable-date-time/.envrc
Due: shellcheck_other, shfmt_other

feat: Link to interpreter rather than full package
  .gitignore
  _config.yml
  shell.nix
Due: alejandra, statix

feat: Implement stable path to Python interpreter in direnv
  .envrc
Due: shellcheck_other, shfmt_other
