Repository linz/emergency-management-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, jupyter-clean, pathchk, shellcheck_other, shfmt_other, statix, nbqa-mypy

alejandra:
  name: alejandra
  entry: alejandra
  language: system
  stages:
  - commit

jupyter-clean:
  name: jupyter-clean
  entry: jupyter
  args:
  - nbconvert
  - --clear-output
  - --ClearMetadataPreprocessor.enabled=True
  language: system
  stages:
  - commit

pathchk:
  name: pathchk
  entry: pathchk
  args:
  - --portability
  language: system
  stages:
  - commit

shellcheck_other:
  name: shellcheck other
  entry: shellcheck
  language: system
  stages:
  - commit

shfmt_other:
  name: Format other shell scripts
  entry: shfmt
  args:
  - --case-indent
  - --indent=4
  - --list
  - --space-redirects
  - --write
  language: system
  stages:
  - commit

statix:
  name: statix
  entry: statix
  args:
  - check
  pass_filenames: false
  language: system
  stages:
  - commit

nbqa-mypy:
  name: nbqa-mypy
  description: Run 'mypy' on Jupyter notebooks
  entry: nbqa
  args:
  - mypy
  require_serial: true
  language: system
  stages:
  - commit

docs: How to convert a notebook to a script
  CODING.md
Due: nbqa-mypy

docs: Change to human-readable heading
  flooding/Sentinel2_Water_Extraction/README.md
Due: nbqa-mypy

docs: Fix pre-commit description
  .pre-commit-config.yaml
Due: none

refactor: Rename notebook to idiomatic `snake_case`
  .github/workflows/test.yml
  flooding/Sentinel2_Water_Extraction/README.md
  flooding/Sentinel2_Water_Extraction/poetryPackages.nix
  flooding/Sentinel2_Water_Extraction/sentinel2_water_extraction.ipynb
Due: alejandra, jupyter-clean, statix, nbqa-mypy

refactor: Lower-case directory name
  .github/dependabot.yml
  .github/workflows/test.yml
  README.md
  flooding/sentinel2_water_extraction/.envrc
  flooding/sentinel2_water_extraction/README.md
  flooding/sentinel2_water_extraction/images/download.png
  flooding/sentinel2_water_extraction/images/header.png
  flooding/sentinel2_water_extraction/images/jupyter.png
  flooding/sentinel2_water_extraction/images/mndwi.png
  flooding/sentinel2_water_extraction/images/python.png
  flooding/sentinel2_water_extraction/images/user_var.png
  flooding/sentinel2_water_extraction/out/.gitignore
  flooding/sentinel2_water_extraction/poetry.lock
  flooding/sentinel2_water_extraction/poetryPackages.nix
  flooding/sentinel2_water_extraction/pyproject.toml
  flooding/sentinel2_water_extraction/sentinel2_water_extraction.ipynb
  flooding/sentinel2_water_extraction/shell.nix
  shell.nix
Due: alejandra, jupyter-clean, statix, nbqa-mypy

docs: How to run pre-commit hooks manually
  CODING.md
Due: nbqa-mypy

docs: Remove feature suggestions from end of notebook
  flooding/sentinel2_water_extraction/sentinel2_water_extraction.ipynb
Due: jupyter-clean, nbqa-mypy

refactor: Rename things shadowing outer names
  flooding/sentinel2_water_extraction/sentinel2_water_extraction.ipynb
Due: jupyter-clean, nbqa-mypy

feat: Lint Python code
  .pre-commit-config.yaml
  shell.nix
Due: alejandra, statix

refactor: Move code comment into Markdown
  flooding/sentinel2_water_extraction/sentinel2_water_extraction.ipynb
Due: jupyter-clean, nbqa-mypy

refactor: Move imports to first code block
  flooding/sentinel2_water_extraction/sentinel2_water_extraction.ipynb
Due: jupyter-clean, nbqa-mypy

refactor: Use CRS from rasterio directly
  flooding/sentinel2_water_extraction/sentinel2_water_extraction.ipynb
Due: jupyter-clean, nbqa-mypy

refactor: Rename top-level variables to idiomatic `UPPER_CASE`
  flooding/sentinel2_water_extraction/sentinel2_water_extraction.ipynb
Due: jupyter-clean, nbqa-mypy

chore: Remove pip upgrade
  .github/workflows/test.yml
Due: none

refactor: Pull out command to get GDAL version
  .github/workflows/test.yml
Due: none

test: Poetry on macOS
  .github/workflows/test.yml
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

build: Bump nixpkgs
  nixpkgs.json
Due: none

feat: Get Conda debugging information
  .github/workflows/test.yml
Due: none

build: Bump all Python packages
  flooding/sentinel2_water_extraction/poetry.lock
  flooding/sentinel2_water_extraction/poetryPackages.nix
Due: alejandra, statix

test: Poetry on Windows
  .github/workflows/test.yml
  flooding/sentinel2_water_extraction/README.md
Due: nbqa-mypy

feat: Get Geopandas debugging information
  .github/workflows/test.yml
Due: none

fix: Use exact Python version
  .github/workflows/test.yml
Due: none

fix: Avoid installing multiple Poetry versions
  .github/workflows/test.yml
Due: none

Path conditions:
  alejandra: any of: \.nix$
  jupyter-clean: any of: \.ipynb$
  pathchk: any file but: ^([a-zA-Z0-9._][a-zA-Z0-9._-]+)(/[a-zA-Z0-9._][a-zA-Z0-9._-]+)*$
  shellcheck_other: any of: ^\.envrc$
  shfmt_other: any of: ^\.envrc$
  statix: any of: \.nix$
  nbqa-mypy: any of: \.ipynb$, \.(md|markdown|mdown)$
